.contenido{
    margin: 0px;
    padding-right: 15px;
    color: aliceblue;
    display: flex;
    background-color: navy ;
    border-radius: 10px;
    list-style: none;
    justify-content: space-evenly;
    text-align: right;
}
body{
    margin: 0px;
    background: url(Paisaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.pag{
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.right img{
    width: 300px;
    margin: auto;
    padding: auto;
}
.left img{
    display: flex;
    margin: auto;
    padding: 30px;
    height: 700px;
}
.right{
    margin: auto;
    padding: 20px;
    color: white;
    width: 300px;
    display: flex;
    text-align: justify;
    flex-direction: column;
    border-bottom: 2px black dotted;
}
footer{
    margin: 0px;
    padding: 30px;
    background-color: blue;
    text-align: center;    
}